<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
        <% if current_user != nil %>
          <a id="loginBtn" href="/users/sign_out" class="btn fancy-btn">Sign Out</a>
        <a id="loginBtn" href="/users/edit" class="btn fancy-btn">Edit Profile</a>

        <% end %>
        
        
    </div>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
